:root {
  --background-color: #F5F5F5;
  --background-header-color: #FFFFFF;
  --background-main-color: #2F303A;
  --primary-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --third-text-color: #2196F3;
  --black-text-color: #000000;
  --adress-text-color: #757575;
  --background-team-color: #F5F4FA;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-button-color: #188CE8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--background-header-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__box {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .header__adress {
    display: none;
  }
  .header__menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__box {
    display: flex;
    align-items: center;
  }
  .logo_header {
    margin-right: 87px;
  }
  .menu {
    display: flex;
  }
  .header__adress {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
  }
  .header__li {
    margin-bottom: 10px;
  }
  .header__li:last-child {
    margin-bottom: 0;
  }
  .header__menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .logo_header {
    margin-right: 93px;
  }
  .header__adress {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .header__li {
    margin-right: 30px;
  }
  .header__li:last-child {
    margin-right: 0px;
  }
}
.header {
  border-bottom: 1px solid #ECECEC;
}

.header__box {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo_header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__one {
  color: var(--third-text-color);
}

.logo__two {
  color: var(--black-text-color);
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--third-text-color);
}

.menu__link_current {
  color: var(--third-text-color);
}
.menu__link_current::after {
  margin-top: 28px;
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--third-text-color);
  border-radius: 2px;
  scale: 1;
}

.menu__li {
  margin-right: 50px;
}
.menu__li:last-child {
  margin-right: 0px;
}

.header__contacts {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--adress-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:hover, .header__contacts:focus {
  color: var(--third-text-color);
}

.header__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100vh;
  }
  .mobile-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 15px;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__nav {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__list {
    margin-bottom: 32px;
  }
  .mobile-menu__list:last-child {
    margin-bottom: 0;
  }
  .mobile-menu__adress {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--third-text-color);
  }
  .mobile-menu__link_current {
    color: var(--third-text-color);
  }
  .mobile-menu__send {
    margin-bottom: 32px;
  }
  .mobile-menu__send:last-child {
    margin-bottom: 0;
  }
  .mobile-menu__tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }
  .mobile-menu__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--adress-text-color);
  }
  .mobile-menu__contacts {
    display: flex;
  }
  .mobile-menu__social {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 64px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social:first-child {
    padding-left: 0;
  }
  .mobile-menu__social:last-child {
    padding-right: 0;
    border-right: none;
  }
  .mobile-menu__socialinks {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/hero1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/hero2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/headert1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/headert2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/herod1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/herod2x.jpg);
  }
}
.hero {
  background-color: var(--background-main-color);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.hero__head {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 360px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  font-family: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--third-text-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: Center;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--main-button-color);
}

@media screen and (max-width: 767px) {
  .privilege {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .privilege__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .privilege__card {
    width: 450px;
    margin-bottom: 30px;
  }
  .privilege__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .privilege {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .privilege__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .privilege__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .privilege {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .privilege__list {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
  }
  .privilege__card {
    width: 270px;
  }
}
.privilege__box {
  display: flex;
  margin-bottom: 30px;
  background-color: var(--background-team-color);
  height: 120px;
  justify-content: center;
  align-items: center;
}
.privilege__box .privilege__icon {
  width: 65px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.privilege__header {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.privilege__text {
  color: var(--adress-text-color);
  line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.profile {
  display: flex;
  padding-bottom: 94px;
}

.profile__description {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.profile__item {
  display: flex;
}

.profile__photo {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.profile__photo:last-child {
  margin-right: 0px;
}

.profile__images {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.profile__desicion {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-header-color);
}

@media screen and (max-width: 1199px) {
  .profile {
    display: none;
  }
}
.team {
  background-color: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__teammate {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.team__teamlist {
  display: flex;
}

.team__portrait {
  background-color: var(--background-header-color);
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__portrait:last-child {
  margin-right: 0px;
}

.team__box {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.team__word {
  margin-bottom: 16px;
  color: var(--adress-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  color: #afb1b8;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--third-text-color);
  color: var(--background-header-color);
}

.team__icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__head {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
  .clients__customlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__head {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
  .clients__customlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__head {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
  }
  .clients__customlist {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }
  .clients__link {
    width: 170px;
    height: 92px;
  }
}
.clients__head {
  text-align: center;
  color: var(--primary-text-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--third-text-color);
  border-color: var(--third-text-color);
}

.clients__iconn {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.items {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.items__pic {
  margin-right: 8px;
}
.items__pic:last-child {
  margin-right: 0px;
}

.items__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--background-team-color);
  border: var(--third-text-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items__btn:hover, .items__btn:focus {
  background-color: var(--third-text-color);
  color: var(--background-header-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  display: flex;
}

.cards__icon {
  display: flex;
  flex-wrap: wrap;
}

.cards__img {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards__img:nth-child(3n) {
  margin-right: 0px;
}
.cards__img:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.cards__links {
  display: inline-block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__links:hover, .cards__links:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards__box {
  position: relative;
  overflow: hidden;
}

.cards__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background-header-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__links:hover .cards__text, .cards__links:focus .cards__text {
  transform: translate(0);
}

.cards__block {
  border: #EEEEEE solid 1px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.06em;
}

.cards__word {
  color: var(--adress-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer__general {
    margin-right: 70px;
  }
  .send {
    margin-left: auto;
  }
  .send__form {
    display: flex;
  }
  .send__btn {
    margin-left: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__general {
    margin-bottom: 60px;
  }
  .send {
    margin: 0 auto;
  }
  .send__form {
    display: block;
  }
  .send__btn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer .container {
    display: block;
    text-align: center;
  }
  .footer__general {
    text-align: center;
  }
  .footer__general, .social {
    margin-bottom: 60px;
  }
  .send__form {
    display: block;
  }
  .send__btn {
    margin-top: 20px;
  }
}
.footer {
  background-color: var(--background-main-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__adress {
  font-style: normal;
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.logo__three {
  color: var(--third-text-color);
}

.logo__four {
  color: var(--background-header-color);
}

.footer__word {
  margin-bottom: 9px;
}
.footer__word:last-child {
  margin-bottom: 0;
}

.footer__contacts {
  line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--third-text-color);
}

.footer__contacts_text {
  color: var(--background-header-color);
}

.footer__contacts_link {
  color: var(--footer-text-color);
}

.social__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__links:hover, .social__links:focus {
  background-color: var(--third-text-color);
  color: var(--secondary-text-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.send__title {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--background-header-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.send__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.send__input:hover, .send__input:focus {
  border-color: var(--third-text-color);
  outline: none;
}

.send__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--third-text-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.send__btn:hover, .send__btn:focus {
  background-color: var(--main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.send__btn .send__svg {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--background-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
  padding: 0;
  right: 8px;
  top: 8px;
}
.modal__btn:hover, .modal__btn:focus {
  border-color: var(--third-text-color);
  fill: var(--third-text-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  color: var(--primary-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--adress-text-color);
  cursor: pointer;
}

.modal__position {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--third-text-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--third-text-color);
  outline: none;
  cursor: pointer;
}

.modal_message {
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__policy {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  color: var(--adress-text-color);
}

.modal__check {
  appearance: none;
  position: absolute;
}

.modal__checkbox {
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check:checked + .modal__checkbox {
  background-color: var(--third-text-color);
  border: none;
}
.modal__check:focus + .modal__checkbox {
  border: 2px solid var(--third-text-color);
}

.modal__frase {
  font-size: 12px;
  line-height: 1.16;
}

.modal__link {
  margin-left: 3px;
  color: var(--third-text-color);
  text-decoration: underline;
}
.modal__link:focus {
  border: 2px solid var(--third-text-color);
  border-radius: 4px;
  outline: none;
}

.modal__submit {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--third-text-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  outline: none;
}
.modal__submit:hover, .modal__submit:focus {
  background-color: var(--main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */