:root {
    --background-color: #F5F5F5;
    --background-header-color: #FFFFFF;
    --background-main-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #2196F3;
    --black-text-color: #000000;
    --adress-text-color: #757575;
    --background-team-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --main-button-color: #188CE8;
}
body {
    background-color: var(--background-header-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}
a {text-decoration: none;}
ul {margin: 0; padding: 0;}
li {list-style: none;}
img {display: block;}

 /*                    HEADER                   */

.header {
background-color: var(--background-header-color);
border: 1px solid #ECECEC;
align-items: center;
}
.header-nav {
display: flex;
align-items: center;
}
.container {
max-width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.header-box {
display: flex;
align-items: center;
}
.header-logo {
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
}
.logo-one {
color: var(--third-text-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.logo-two {
color: var(--black-text-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.header-list {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
}
.header-link {
padding-top: 32px;
padding-bottom: 32px;
display: inline-block;
color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.header-link:hover, .header-link:focus {
    color: var(--third-text-color);
}
.head-li {
margin-right: 50px;
}
:last-child.head-li {
margin-right: 0px;
}
.current {
color: var(--third-text-color);
}
.header-adress {
display: flex;
margin-left: auto;
}
.header-li {
margin-right: 50px;
padding-top: 32px;
padding-bottom: 32px;
}
:last-child.header-li {
margin-right: 0px;
}
.header-mail, .header-tel {
color: var(--adress-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.header-mail:hover, .header-mail:focus {
    color: var(--third-text-color);
}
.header-tel:hover, .header-tel:focus {
    color: var(--third-text-color);
}

/*                     MAIN                      */

.main {
align-items: center;
}
.main-hero {background-color: var(--background-main-color);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
}
.main-head {
margin-left: auto;
margin-right: auto;
width: 696px;
color: var(--secondary-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: Center;
vertical-align: top;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.main-button {
font-family: inherit;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 32px;
padding-right: 32px;
border-radius: 4px;
background-color: var(--third-text-color);
color: var(--secondary-text-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: Center;
letter-spacing: 0.06em;
cursor: pointer;
}
.main-button:hover, .main-button:focus {
    background-color: var(--main-button-color);
}
.main-privilege {
display: flex;
align-items: center;
padding-top: 94px;
padding-bottom: 94px;
margin-left: auto;
margin-right: auto;
}
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.main-list {
display: flex;
}
.main-card {
width: 270px;
margin-right: 30px;
}
:last-child.main-card {
margin-right: 0px;
}
.main-header {
font-weight: 700;
line-height: 1.14;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.main-text {
color: var(--adress-text-color);
line-height: 1.71;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.main-profile {
display: flex;
padding-bottom: 94px;
}
.main-description {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.main-item {
display: flex;
}
.main-photo {
width: 370px;
margin-right: 30px;
}
:last-child.main-photo {
margin-right: 0px;
}
.main-team {
background-color: var(--background-team-color);
padding-top: 94px;
padding-bottom: 94px;
display: flex;
}
.main-teammate {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.main-teamlist {
display: flex;
}
.main-portrait {
background-color: var(--background-header-color);
width: 270px;
padding-bottom: 30px;
margin-right: 30px;
}
:last-child.main-portrait {
margin-right: 0px;
}
.main-name {
margin-top: 30px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.main-word {
color: var(--adress-text-color);
font-size: 16px;
line-height: 1,19;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.btn-item {
background-color: var(--background-team-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
cursor: pointer;
}
.btn-item:hover, .btn-item:focus {
    background-color: var(--third-text-color);
    color: var(--background-header-color);
}
.header-project {
font-weight: 700;
font-size: 18px;
line-height: 2;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.06em;
}
.project-text {
color: var(--adress-text-color);
font-size: 16px;
line-height: 1.88;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.footer {
background-color: var(--background-main-color);
padding-top: 60px;
padding-bottom: 60px;

}
.footer-adress {
    font-style: normal;
}
.footer-logo {
margin-bottom: 20px;
display: inline-block;
}
.logo-three {
color: var(--third-text-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.logo-four {
color: var(--background-header-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.footer-word {
margin-bottom: 9px;
}
.footer-text{
color: var(--background-header-color);
line-height: 1.71;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.footer-link {
color: var(--footer-text-color);
line-height: 1.71;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.footer-text:hover, .footer-link:hover {
color: var(--third-text-color);
}
.footer-text:focus, .footer-link:focus {
color: var(--third-text-color);
}