:root {
    --background-color: #F5F5F5;
    --background-header-color: #FFFFFF;
    --background-main-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #2196F3;
    --black-text-color: #000000;
    --adress-text-color: #757575;
    --background-team-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --main-button-color: #188CE8;
}
body {
    background-color: var(--background-header-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}
a {text-decoration: none;}
li {list-style: none;}
img {display: block;}
.header-menu {
    background-color: var(--background-header-color);
}
.logo-one {
    color: var(--third-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
}
.logo-two {
   color: var(--black-text-color);
   font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
}
.menu-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-link:hover, .menu-link:focus {
    color: var(--third-text-color);
}
.current {
color: var(--third-text-color);
}
.adress-mail, .adress-tel {
color: var(--adress-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.adress-mail:hover, .adress-mail:focus {
    color: var(--third-text-color);
}
.adress-tel:hover, .adress-tel:focus {
    color: var(--third-text-color);
}
.main-list {background-color: var(--background-main-color);}
.hero-text {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.main-button {
    font-family: inherit;
    background-color: var(--third-text-color);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: Center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.main-button:hover, .main-button:focus {
    background-color: var(--main-button-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.main-header {
    font-weight: 700;
    line-height: 1.14;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-text {
    color: var(--adress-text-color);
    line-height: 1.71;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
}
.header-text {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.team-list {
background-color: var(--background-team-color);
}
.team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.header-name {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.name-text {
color: var(--adress-text-color);
font-size: 16px;
line-height: 1,19;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
}
.btn-item {
background-color: var(--background-team-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: Center;
vertical-align: Top;
letter-spacing: 0.03em;
cursor: pointer;
}
.btn-item:hover, .btn-item:focus {
    background-color: var(--third-text-color);
    color: var(--background-header-color);
}
.header-project {
font-weight: 700;
font-size: 18px;
line-height: 2;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.06em;
}
.project-text {
color: var(--adress-text-color);
font-size: 16px;
line-height: 1.88;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.footer-menu {
background-color: var(--background-main-color);
}
.footer-list {
    font-style: normal;
}
.logo-three {
color: var(--third-text-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.logo-four {
color: var(--background-header-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-align: left;
vertical-align: top;
letter-spacing: 0.03em;
}
.adress-text{
color: var(--background-header-color);
line-height: 1.71;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.footer-link {
color: var(--footer-text-color);
line-height: 1.71;
text-align: Left;
vertical-align: Top;
letter-spacing: 0.03em;
}
.adress-text:hover, .footer-link:hover {
color: var(--third-text-color);
}
.adress-text:focus, .footer-link:focus {
color: var(--third-text-color);
}