/*.header {
    border-bottom: 1px solid #ECECEC;
}

.header__box {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
.logo_header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo__one {
    color: var(--third-text-color);
}

.logo__two {
    color: var(--black-text-color);
}

.menu {
    display: flex;
}
.menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: var(--third-text-color);
    }
}
.menu__link_current {
    color: var(--third-text-color);

    &::after {
        margin-top: 28px;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--third-text-color);
        border-radius: 2px;
        scale: 1;
    }
}
.menu__li {
    margin-right: 50px;

    &:last-child {
        margin-right: 0px;
    }
}
.header__adress {
    display: flex;
    margin-left: auto;
}
.header__li {
    margin-right: 50px;

    &:last-child {
        margin-right: 0px;
    }
}
.header__contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--adress-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: var(--third-text-color);
    }
}

.header__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.header__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}