@media screen and (max-width:767px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header__box {
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .header__adress {
        display: none;
    }

    .header__menu-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        line-height: 0;
    }
}



@media screen and (min-width:768px) {
    .header__box {
        display: flex;
        align-items: center;
    }
    .logo_header {
        margin-right: 87px;
    }

    .menu {
        display: flex;
    }

    .header__adress {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
    }

    .header__li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header__menu-btn {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .logo_header {
            margin-right: 93px;
        }
        .header__adress {
            display: flex;
            flex-direction: row;
            margin-left: auto;
}
.header__li {
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}
}


.header {
    border-bottom: 1px solid #ECECEC;
}
.header__box {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
.logo_header {
        padding-top: 25px;
        padding-bottom: 25px;
}
.logo__one {
    color: var(--third-text-color);
}
.logo__two {
    color: var(--black-text-color);
}
.menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--third-text-color);
    }
}

.menu__link_current {
    color: var(--third-text-color);

    &::after {
        margin-top: 28px;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--third-text-color);
        border-radius: 2px;
        scale: 1;
    }
}

.menu__li {
    margin-right: 50px;

    &:last-child {
        margin-right: 0px;
    }
}
.header__contacts {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--adress-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--third-text-color);
    }
}

.header__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.header__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
