.header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu {
    display: none;
}
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__one {
    color: var(--third-text-color);
}
.logo__two {
    color: var(--black-text-color);
}
.header__adress {
    display: none;
}
.header__menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
}