@media screen and (max-width:767px) {
    .privilege {
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .privilege__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .privilege__card {
            margin-bottom: 30px;
        
            &:last-child {
                margin-bottom: 0;
            }
        }
}
@media screen and (min-width:768px) {
    .privilege {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    .privilege__list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px
            ;
        }
    .privilege__card {
            width: 354px;
        }
}
@media screen and (min-width:1200px) {
    .privilege {
    padding-top: 94px;
    padding-bottom: 94px;
}
.privilege__list {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.privilege__card {
    width: 270px;
}
}

.privilege__box {
    display: flex;
    margin-bottom: 30px;
    background-color: var(--background-team-color);
    height: 120px;
    justify-content: center;
    align-items: center;

.privilege__icon {
    width: 65px;
    height: 70px;
    justify-content: center;
    align-items: center;
}
}

.privilege__header {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.privilege__text {
    color: var(--adress-text-color);
    line-height: 1.71;
    text-align: Left;
    vertical-align: Top;
    letter-spacing: 0.03em;
}