@media screen and (max-width:767px) {
    .hero {
        max-width: 480px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/img-hero1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/img-hero2x.jpg);
    }
}

@media screen and (min-width:768px) {
    .hero {
        max-width: 768px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/Header1x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/Header2x.jpg);
    }
}

@media screen and (min-width:1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/img1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/Img2x.jpg);
    }
}



.hero {
    background-color: var(--background-main-color);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.hero__head {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--third-text-color);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: Center;
    letter-spacing: 0.06em;

    &:hover,
    &:focus {
        background-color: var(--main-button-color);
    }
}