@media screen and (max-width:767px) {
    .team {
        padding-top: 60px;
        padding-bottom: 60px;
}
    .team__teammate {
        margin-bottom: 30px;
        font-size: 28px;
    }
    .team__teamlist {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .team__box {
        padding-top: 30px;
        padding-bottom: 24px;
        }
}
@media screen and (min-width:768px) {
    .team {
        padding-top: 60px;
        padding-bottom: 60px;
}
    .team__teammate {
        margin-bottom: 30px;
        font-size: 28px;
}
    .team__teamlist {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .team__portrait {
        width: 354px;
    }
    .team__box {
        padding-top: 30px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width:1200px) {
    .team {
padding-top: 94px;
padding-bottom: 94px;
}
.team__teammate {
    margin-bottom: 50px;
    font-size: 36px;
}
.team__teamlist {
    display: flex;
    column-gap: 30px;
}
.team__portrait {
    width: 270px;
}
.team__box {
    padding: 30px 0;
}
}
.team {
    background-color: var(--background-team-color);
}

.team__teammate {
    font-weight: 700;
    line-height: 1.17;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
}

.team__portrait {
    background-color: var(--background-header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
}

.team__word {
    margin-bottom: 16px;
    color: var(--adress-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
}

.team__list {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    column-gap: 10px;
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--secondary-text-color);
    color: #afb1b8;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: var(--third-text-color);
        color: var(--background-header-color);
        }
    }

    .team__icons {
    width: 20px;
    height: 20px;
    fill: currentColor;
}