:root {
    --background-color: #F5F5F5;
    --background-header-color: #FFFFFF;
    --background-main-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #2196F3;
    --black-text-color: #000000;
    --adress-text-color: #757575;
    --background-team-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --main-button-color: #188CE8;
}